<div class="jumbotron jumbotron-fluid align-items-center" style="background-color: #46B6FF">
  <div class="container">
    <div class="row align-items-center" id="main-jumbo">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <h1 class="display-1 text-white">Life</h1>
        <p class="lead">Because being an adult sucks and games don't. Earn points and level up by doing the adult things you're supposed to do every day.</p>
        <%= link_to 'Sign Up', new_user_path, class: "btn btn-outline-dark btn-lg" %>
      </div>
      <div class="col-sm">
      </div>
</div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid align-items-center" >
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm">
        <div class="card text-center" style="min-height: 25vh">

          <div class="card-body">
            <h5 class="card-title h3" style="color: #68767F">Activities</h5>
            <p class="card-text">Complete the activities that you're supposed to do as an adult to earn points!</p>
            <ul style="text-align: left">
              <li> Do a load of laundry: <strong>25 Points</strong></li>
              <li> Mow the Lawn: <strong>50 Points</strong></li>
              <li> Pay Rent: <strong>500 Points</strong></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center" style="min-height: 25vh">
          <div class="card-body">
            <h5 class="card-title h3" style="color: #68767F">Level Up</h5>
            <p class="card-text">As you earn points you will level up!</p>
            </br>
            <p class="card-text"><strong>Level 14</strong></p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-#46B6FF" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="card-text"><em>6250 / 25000</em></p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center", style="min-height: 25vh">
          <div class="card-body">
            <h5 class="card-title h3" style="color: #68767F">Compete</h5>
            <p class="card-text">Compete with your friends and others in the community to see who really is the most grown up.</p>
          </div>
        </div>
      </div>
</div>
  </div>
</div>
