<h1>All User Activities</h1>
<ul>


<% @activities.each do |user_activity| %>
  <li><%= user_activity.activity.title %></li>
  <li><%= link_to 'Delete', user_activity_path(user_activity), method: :delete %></li>
  <% end %>
</ul>
